name: CI

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]

    steps:
      - uses: actions/checkout@v5
      - name: Setup uv
        # Installs Python based on ${{ matrix.python-version }}
        uses: ./.github/actions/setup-uv
      - name: Lint check
        run: make lint
      - name: Unit tests
        run: make test
      - name: Test package build
        run: uv build
